.about {
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(0, 150, 219, 0.8),
    rgba(0, 150, 219, 0.8)
  );
  background-position: center;
  /* height: 90vh;
  min-height: 80rem;
  max-height: 50rem;
  position: relative; */
  padding: 12rem 0;
  display: block;
  height: 120vh;
}
.home-hero-content {
  padding: 10px 10px;
  position: relative;
  top: 18%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 800;
}

.hero-info {
  margin: 3rem auto 0 auto;

  max-width: 80rem;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.hero-info p {
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  margin-top: 15%;
}

.button-about {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

.button-primary {
  padding: 1.5rem 8rem;
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  text-decoration: none;
}

.hero-socials {
  /* position: absolute;
  top: 40%;
  margin-left: 10px;
  transform: translateY(-50%); */
  /* position: relative; */
  position: fixed;
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  left: 50%;
  top: 350px;
}

.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eee;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
@media screen and (max-width: 768px) {
  .socials {
    display: none;
  }
}
