.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  background: #fff;
}
.left-nav {
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.left-nav:hover {
  color: rgba(0, 150, 219, 0.8);
}
.navLinks {
  display: flex;
  cursor: pointer;
}
.right-nav {
  display: flex;
  justify-content: space-between;
}
.header-link-wrapper {
  list-style: none;
}

.header-link-wrapper a {
  text-decoration: none;
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}

.header-link-wrapper a:active {
  border-bottom: 3px solid rgba(0, 150, 219, 0.8);
}
.header-link-wrapper a:hover {
  color: rgba(0, 150, 219, 0.8);
  border-bottom: 3px solid rgba(0, 150, 219, 0.8);
}

.mobile-Icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-Icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    background: white;
    right: 20px;
  }

  .header-link-wrapper {
    display: block;
    position: relative;
  }

  .navLinks {
    display: none;
  }
}
