.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);
  padding: 10px;
  width: 100vw;
  height: 100vh;
  border: 3px solid yellow;
}

.wrapper {
  padding: 10px;
}
.icons {
  top: 100px;
  margin-left: 10px;

  background: transparent;
  cursor: pointer;
  outline: none;
  background: white;

  height: 100%;
  border: 1px solid red;
  height: 85vh;
  width: 40vh;

  padding: 10px;
  display: flex;
  flex-direction: column;
}
